
.app-toolbar {
  position: sticky;
  top: 0;
  background-color: var(--paper-color, white);
  border-bottom: 1px solid transparent;
  flex-shrink: 0;
  box-shadow: 0 0 8px -4px black;
  padding: 5px 0;
  z-index: 100;
}
